// Body
$body-bg: #fff;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$emoji-red: #f70a8c !important;
$theme-gradient: linear-gradient(45deg, #ffbd2d, #F6A700) !important;
$theme-gradient-light: linear-gradient(45deg, #ffeeca, #ffda8a) !important;
$gradient-light: linear-gradient(45deg, #ffda8a 40%, #ff7300) !important;


// Background
.bg-fff {
    background: #fff !important;
}

.bg-f2 {
    background: #f4f5f6;
}

.bg-theme {
    background: $theme-gradient;
}

.bg-red {
    background: $emoji-red;
}

.bg-theme-light {
    background: $theme-gradient-light;
}

.bg-premium {
    background: $gradient-light;
    font-family: Soehne, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif !important;
}

// -----------
.bg-light-purple {
    background: #cb97ff71 !important;
}

.bg-light-green {
    background: #bfffc095 !important;
}

.bg-light-cyan {
    background: #a8ffff9d !important;
}

// button
.btn-theme {
    background: $theme-gradient;
    transition: all .3s;

    &:hover {
        opacity: 0.7;
    }
}

.pill {
    background-color: #ffe8b6;
    border: 3px solid #F6A700;
    border-radius: 5px;
    padding: 0 5px;
    color: #9E0094;
}

// Font
.fs-large {
    font-size: 3.6rem;
}

.fs-tiny {
    font-size: 12px !important;
}

.text-theme {
    color: #F6A700 !important
}

.text-red {
    color: $emoji-red;
}

.text-shadow {
    text-shadow: 0 5px 20px #0000004d;
}

.fw-boldest {
    font-weight: 700 !important;
}

.circle {
    display: inline-block;
    padding: .25rem .8rem;
    color: #fff;
    background: $theme-gradient;
    border-radius: 9999px !important;
}

.w-64 {
    max-width: 64rem;
    margin: 0 auto;
}

.w-34 {
    max-width: 34rem !important;
    margin: 0 auto;
}

.emp-text {
    text-decoration: underline;
    text-decoration-color: #F6A700;
    text-decoration-thickness: 7px;
    font-family: 'Croissant One', cursive;
    /* transform text size here */
}

// Animations
.animated-text {
    background: linear-gradient(65deg, #ff8400 20%, #F6A700 30%, #f70a8c 70%, #ff8400 80%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    background-size: 500% auto;
    animation: textgradient 4s ease-in-out infinite alternate;
}

.animated-text-2 {
    background: linear-gradient(65deg, #F74C08 20%, #B2006F 30%, #f70a8c 70%, #F70864 80%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    background-size: 500% auto;
    animation: textgradient 4s ease-in-out infinite alternate;
}

.opacity-animation {
    background: #ffffffce;
    animation: opacity_animation 1.5s ease-in;
}

.cta-animation {
    outline: 0px solid #fff;
    animation: cta_success 1.8s infinite;
}

.cta-animation-focus {
    outline: 0px solid #fff;
    animation: cta_focus 2s infinite;
}

.cta-animation-error {
    outline: 0px solid #fff;
    animation: cta_error 1.8s infinite;
}

@keyframes textgradient {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}


@keyframes opacity_animation {
    0% {
        background: #ffe2a5;
    }

    20% {
        background: #ffffffce;
    }

    40% {
        background: #ffe2a5;
    }

    60% {
        background: #ffffffce;
    }

    80% {
        background: #ffe2a5;
    }

    100% {
        background: #ffffffce;
    }
}

@keyframes cta_success {
    from {
        outline: 0px solid #2efc31;
    }

    to {
        outline: 7px solid #2efc3200;
    }
}

@keyframes cta_focus {
    from {
        outline: 0px solid #f70a8c;
    }

    to {
        outline: 7px solid #2efc3200;
    }
}

@keyframes cta_error {
    from {
        outline: 0px solid #DD3A4A;
    }

    to {
        outline: 7px solid #dd3a4a00;
    }
}

.animated {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.animated-2 {
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.hover {
    animation: hover 3s linear infinite;
}

.hover-2 {
    animation: hover 4.5s linear infinite;
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

@keyframes hover {
    0% {
        top: 0;
    }

    50% {
        top: 10px;
    }

    100% {
        top: 0;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@media screen and (max-width: 800px) {
    .fs-large {
        font-size: 2rem;
        font-weight: 900;
    }
}